<h1><%=@recommend.name%>の予感…</h1>
<h2>住所はこ↑こ↓:<%=@recommend.address%></h2>
<h3>電話番号:<%=@recommend.address%></h3>
<h3>定休日:<%=@recommend.holiday%></h3>
<h3>営業時間:<%=@recommend.open%>〜<%=@recommend.close%></h3>
